<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (currentUser) {%>
    <%- include("./partials/left-sidebar.ejs") %>
    <div class="homepageRightSideContainer">
      <div class="homepageRightSide">
        <div class="followBody">
          <% if(user.followers.length > 0){ %>
            <% user.followers.forEach(follower => { %>
                <% if(follower.username == currentUser.username) { %>
                  <a href="/homepage">
                    <div class="followContainer">
                      <div class="followInfoContainer">
                        <div class="postImgContainer">
                          <img class="postImg" src="<%= follower.image %>" alt="">
                        </div>
                        <div class="followNameContainer">
                          <p class="postAccountName"><%= follower.accountName %></p>
                          <p class="postUsername">@<%= follower.username %></p>
                        </div>
                      </div>
                    </div>
                  </a>
                <% } else { %>
                  <a href="/otherHomepage/<%= follower._id %>">
                    <div class="followContainer">
                      <div class="followInfoContainer">
                        <div class="postImgContainer">
                          <img class="postImg" src="<%= follower.image %>" alt="">
                        </div>
                        <div class="followNameContainer">
                          <p class="postAccountName"><%= follower.accountName %></p>
                          <p class="postUsername">@<%= follower.username %></p>
                        </div>
                      </div>
                      
                      <% if(thisUser.following.some(e => follower._id.equals(e._id))) { %>
                        <form class="followForm" action="/follow/<%= follower._id %>" method="POST">
                          <button class="followPageFollowButton-Following">
                            <span class="followSpan">Following</span>
                          </button>
                        </form>
                      <% } else { %>
                        <form class="followForm" action="/follow/<%= follower._id %>" method="POST">
                          <button class="followPageFollowButton-NotFollowing">
                            <span class="followSpan">Follow</span>
                          </button>
                        </form>
                      <% } %>
                    </div>
                  </a>
                <% } %>
            <% }) %>
        </div>
        <div class="rightSide">
          <div class="usersToFollowContainer">
            <div class="usersToFollowTextContainer">
              <p class="usersToFollowText">You might like</p>
            </div>
            <% usersToFollow.forEach(userToFollow => { %>
              <a href="/otherHomepage/<%= userToFollow._id %>">
                <div class="followContainer userFollowContainerNoBorder">
                  <div class="followInfoContainer">
                    <div class="postImgContainer">
                      <img class="postImg" src="<%= userToFollow.image %>" alt="">
                    </div>
                    <div class="followNameContainer">
                      <p class="postAccountName"><%= userToFollow.accountName %></p>
                      <p class="postUsername">@<%= userToFollow.username %></p>
                    </div>
                  </div>
                  <% if(thisUser.following.some(e => userToFollow._id.equals(e._id))) { %>
                    <form class="followForm" action="/follow/<%= userToFollow._id %>" method="POST">
                      <button class="followPageFollowButton-Following homepageFollow">
                        <span class="followSpan">Following</span>
                      </button>
                    </form>
                  <% } else { %>
                    <form class="followForm" action="/follow/<%= userToFollow._id %>" method="POST">
                      <button class="followPageFollowButton-NotFollowing homepageFollow">
                        <span class="followSpan">Follow</span>
                      </button>
                    </form>
                  <% } %>
                </div>
              </a>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <% } else{ %>
        <p>User has no followers</p>
    <% } %>
  <% } else { %>
    <h1>please log in to see this users followers</h1>
  <%}%>
</body>
</html>